/*index CSS */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header-hr {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  width: 30%;
}

.scrolling-images {
  width: 100%;
  position: relative;
  height: 140px;
  overflow: hidden;
  box-shadow: inset 0px 63px 41px -78px rgba(0,0,0,0.23), inset 0px -63px 41px -78px rgba(0,0,0,0.23);
}

.scrolling-images-hr {
  width: 80%;
}

.scrolling-images > img {
  max-height: 150px;
  position: absolute;
  max-width: 220px;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  opacity: 0;
}

.scrolling-images > .animated { 
  animation-name: imscroll;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes imscroll {
  0% {
    transform: translate(-500px, -50%);
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  50% {
    transform: translate(0, -50%);
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translate(500px, -50%);
  }
}

@media screen and (max-width: 992px) {

  .header-hr {
    display: none;
  }
  
  
  .scrolling-images > img {
    max-height: 90px;
    position: absolute;
    max-width: 90px;
  }

  .scrolling-images {
    height: 110px;
  }
  
  @keyframes imscroll {
    0% {
      transform: translate(-300px, -50%);
      opacity: 0;
    }
    20% {
      opacity: 0.7;
    }
    50% {
      transform: translate(0, -50%);
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
      transform: translate(300px, -50%);
    }
  }
}

.headers {
  text-align: center;
/*   text-transform: uppercase; */
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;

  color: #333333;
}




.social-1{
  width: 100%;
}
.social{
  margin-left: 20px;
  width: 100%;
}
.social-links{
  left: 30px;
}
.words{
  position: relative;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.frow{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
ul{
	list-style: none;
}

    .img1 {
        margin-right: 30px;
        width: 45%;
        padding-top: 20px;
      }

.footers{
	background-color: #d2eeffde;
    padding: 40px 0;
  width: 100%;
 
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:auto;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
  width: 68px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #808080;
	text-decoration: none;
	font-weight: 300;
	color: #424242;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #686868;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;

	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	

}
.footer-col .social-links a:hover{
	color: #24262b;

}
.enrolll{
  font-size: 13px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
* {
  margin: 0;
  padding: 0;
}
.nli{
  list-style-type: none;
  margin: 4vw 0;
  
  font-size: 40px;
}

.na{
  text-decoration: none;
  color: black;
  font-family: monospace;
font-size: 25px;
  padding: 2vw;
}

nav{
  width: 100vw;
  background-color: #D6EFFF;
  height: 95px;
}

.nul{
  display: block;
  margin: 0;
  padding: 20px;
 justify-content: flex-end;
  display: flex;  
}

body{
  margin: 0;
}

.button{
  display: none;
}

.na:hover{
  background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
 
  
  .na{
    display: block;
  }
  
  .nli{
    margin: 0;
  }
  
  .button{
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    
    align-self: flex-start;
  }
}
body {
  text-align: center;
  background-color: #e5f3fc;
  font-family: 'Rajdhani', sans-serif;
  height: 100%;
  width: 100%;
  animation:  slideInFromBottom 1s cubic-bezier(.38, .05, .83, .67);
}
a{
  color: #E16036;
}
/*search field*/

.home-wrapper {
  width: auto;
  height: auto;
}
.foot{
  font-size: 20px;
  
    
    margin: 100px 0px 10px 0px;
    position: relative;
 
}
.img1 {
  margin-right: 30px;
  width: 70%;
  padding-top: 20px;
}

.main-text h2 {
  padding: 30px 10px;
  font-size: 25px;
}

.main-text h1 {
  left: 100px;
  font-size: 25px;
}

.main-text {
  padding-top: 50px;
  width: 100%;
}

.search-bar {
  margin: 10px -15px 50px 10px;
  top: 70px;
  width: 270px;
  height: 40px;
  border-radius: 15px;
  border: 2px #DC602E solid;
  position: relative;
  background-color: transparent;
  padding: 0px 10px 0px 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.search-bar::placeholder {
  text-transform: uppercase;
  color: gray;
  font-size: 15px;
}

.btn {
  position: relative;
  height: 20px;
  width: 20px;
  top: 75px;
  left: -25px;
}

.footer {
  width: 100%;
  position: absolute;
  margin: 200px 0px 10px 0px;
  font-size: 17px;
 
  
}

.search {
  width: 100%;
  position: relative;
}

input.search-bar:focus {
  outline-width: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 999;
  top: 127px;
  left: 50px;
  width: 270px;
  border-radius: 15px;
  text-transform:uppercase;
}

.green {
  color: green;
  font-style: italic;
}

.red {
  color: red;
  font-style: italic;
}

#divi {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  animation: 1s ease-out 0s 1 FadeIn;
  
}

.about {
  text-align: right;
  padding: 2px;
}

.btna {
  font-size: 16px;
  background: #474448;
  background-size: inherit;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 130px;
  height: 35px;
  border-width: 1.5px;
  font-family: 'Rajdhani', sans-serif;
}

.btna:hover {
  color: #E16036;
  text-decoration: none;
}

.wonder {
  display: flex;
  bottom: 30px;
  font-size: 12px;
  width: 300px;
  flex-direction: column;
}
.wonder1 {
  display: flex;
  bottom: 30px;
  
  width: 300px;
  flex-direction: column;
}
.contain111{
  display: flex;
  display: flex;
    justify-content: space-between;
    width: 1200px;
   
    margin-top: 150px;
}
#popup {
  width: 300px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
  padding: 2rem;
  background-color: #fff;
  margin-top: -450px;
  margin-left: 10px;
  position: relative;
  transition: 0.5s;
  z-index: 9999;
  visibility: hidden;
}

#popup.active {
  visibility: visible;
  transition: 0.5s;
  animation: fadeAndScale2 1s cubic-bezier(.38, .05, .83, .67);
  transform-origin: bottom;
}

.new {
  width: 180px;
  position: relative;
  border-radius: 5px;
  left: 2px;
}

.newi {
  width: 100%;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}

.one {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  right: 8.5px;
}

.onei {
  width: 100%;
  padding: 5px;
  right: 8.5px;
  border-radius: 5px;
}

.delete {
  position: relative;
  left: 165px;
  top: -23px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.inp {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.inpi {
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  right: 8.5px;
}

input.inp:focus {
  outline-width: 0;
}

input.newi:focus {
  outline-width: 0;
}

input.onei:focus {
  outline-width: 0;
}

.close {
  margin-left: 260px;
  cursor: pointer;
  font-size: 30px;
}

.head {
  margin-top: 10px;
}

.container#blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.add_form_field:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}

.add_form_field {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: var(--font-color);
  font-size: 1em;
  padding: 1px 110px;
  margin: 10px;
  margin-top: -40px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: var(--font-color);
  font-size: 1em;
  padding: 10px 122px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}

@media only screen and (min-width: 280px) {
  nav{
    height: 170px;
  }
  .nul{
    flex-direction: column;
    align-items: flex-start;
    
  }
  .na{
    font-size: 15px;
  }
  .img1 {
    margin-left: -10px;
    width: 80%;
    padding-top: 20px;
  }
  #popup {
    width: 260px;
    margin-top: -900px;
    margin-left: 8px;
    align-items: center;
    position: absolute;
  }
  .form-btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10px 40px;
    margin-left: -5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
  }
  .add_form_field {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 8px 25px;
    margin: 10px;
    margin-top: -40px;
    margin-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .head {
    margin-top: -15px;
}
  .inp {
    width: 190px;
    padding: 7px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .newi {
    text-transform: uppercase;
    font-size: 10px;
    width: 190px;
  }
  .onei {
    text-transform: uppercase;
    font-size: 10px;
    width: 190px;
  }
  .inpi {
    padding: 10px;
    position: relative;
    right: 8.5px;
  }
  
  .delete {
    position: relative;
    left: 115px;
    top: -24px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
  }
  .close {
    margin-left: 190px;
    cursor: pointer;
    font-size: 30px;
  }
  .search-bar {
    margin: 10px -20px 50px 10px;
    top: -10px;
    width: 250px;
    font-size: 15px;
    right: 4px;
  }
  .btn {
    top: -5px;
    left: -15px;
  }
  .contain111 {
  
    width: 100px;
  
    flex-direction: column;
}
.wonder1 {
padding: 20px;
  font-size: 12px;
  width: 270px;
 
}
.wonder {
  display: flex;
  bottom: 30px;
  font-size: 12px;
  width: 270px;
  flex-direction: column;
}
.headers {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  
  color: #333333;
}
  .autocomplete-items {
    top: 40px;
    left: 13px;
    width: 236.7px;
  }
  .footer {
    margin: 80px 0px 10px 0px;
    font-size: 11px;
  }
  .foote {
    font-size: 13px;
   
    bottom: 10px;
  }
  .footee{
    padding: 1rem;
  }
  #divi {
    bottom: -140px;
    width: 280px;
  }
}

@media (width: 320px),  (height:568px) {
  #popup {
    margin-top: -950px;
    margin-left: 30px;
  }
  .main-text h1 {
    font-size: 30px;
  }
  .main-text h2 {
    font-size: 20px;
  }
  .autocomplete-items {
    top: 40px;
    left: 8px;
    width: 250px;
  }
  .foot{
    top: 500px;
    font-size: 13px;
  }
  #divi{
    bottom: -230px;
    width: 320px;
  }
  .wonder{
    font-size: 12px;
  }
  .wonder1{
    font-size: 12px;
  }
}
@media (height:480px){
  #divi{
    bottom: -300px;
  }
}
@media only screen and (min-width: 360px) {
  #popup {
    margin-left: 23px;
    width: 320px;
  }
  .newi {
    width: 220px;
    left: 6px;
    padding: 7px;
  }
  .onei {
    text-transform: uppercase;
    font-size: 10px;
    width: 220px;
    left: 6px;
    padding: 7px;
  }
  .inp {
  width: 220px;
  left: 6px;
  }

  .delete {
    left: 163px;
  }
  .close {
    margin-left: 240px;
  }
  .foot{
    bottom: 0px;
    font-size:13px ;
  top: 480px;
  }
  .footer{
    font-size: 12px;
    
  }
  .form-btn {
    
    margin-left: -5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 190px;
    
  }
  #divi{
    bottom: -100px;
    width: 370px;
  }
}

@media only screen and (min-width: 375px) {
 #popup {
    width: 335px;
    margin-top: -930px;
    margin-left: 23px;
    align-items: center;
    position: absolute;
  }
  .foot{
    font-size: 18px;
    margin: 90px 0px 10px 0px;
    position: absolute;
    top: 570px;
  }
  .inp {
    text-transform: uppercase;
    font-size: 10px;
    width: 250px;
    
  }
  .inpi{
    left: -1px;
  }
  .newi {
    text-transform: uppercase;
    font-size: 10px;
    width: 250px;
    left: 6px;
  }
  .delete {
    left: 190px;
  }
  .close {
    margin-left: 260px;
  }
  .one{
    left: -1px;
  }
  .onei {
    text-transform: uppercase;
    font-size: 10px;
    width: 250px;
    
  }
  .footer {
    margin: 220px 0px 10px 0px;
  }
 #divi{
   bottom: -80px;
 }
}
@media  (height: 812px) {
  #divi{
    bottom: 90px;
  }
}

@media only screen and (min-width: 411px) {
  #popup {
    width: 360px;
    margin-top: -990px;
    margin-left: 25px;
  }
  #divi{
    bottom: -40px;
    width: 410px;
  }
  .autocomplete-items {
    top: 40px;
    left: 6px;
    width: 250px;
  }
  .main-text h1 {
    font-size: 35px;
  }
  .main-text h2 {
    font-size: 20px;
  }
  .wonder {
    font-size: 12px;
  }
  .close {
    margin-left: 280px;
  }
  .new {
    width: 94%;
    position: relative;
    border-radius: 5px;
    left: 3px;
  }
  .newi {
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
  }
  .one {
    position: relative;
    margin-bottom: 20px;
    right: 8.5px;
  }
  .onei {
    width: 100%;
    padding: 10px;
    right: 8.5px;
    border-radius: 5px;
  }
  .inp {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
  }
  .inpi {
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    right: 8.5px;
  }
  .delete {
    left: 165px;
    top: -40px;
    font-size: 30px;
  }
  .footer {
    margin: 190px 0px 10px 0px;
  }
  .foot{
    
    margin: 150px 0px 0px 0px;
  }
}
@media  (height: 823px) {
  #divi{
    bottom: 70px;
  }
}
@media (min-width: 414px){
.foot{
bottom: 100px;
margin: 180px 0px 10px 0px;
}
}

@media only screen and (min-width:428px){
  #popup {
    width: 390px;
    margin-top: -990px;
    margin-left: 20px;
    align-items: center;
    position: absolute;
  }
  .foot{
    font-size: 18px;
    bottom: 0px;
    margin: 190px 0px 10px 0px;
    position: absolute;
  }
  .footer {
    margin: 290px 0px 10px 0px;
  }
  #divi{
     bottom: -50px;
    width: 430px;
  }
}

@media only screen and (min-width: 480px) {
  #popup {
    width: 400px;
    margin-top: -1000px;
    margin-left: 40px;
  }
  nav{
    height: 200px;
  }
  .close{
    margin-left: 330px;
  }
  .onei {
    font-size: 15px;
  }
  #divi{
    width: 480px;
    bottom: 90px;
  }
}

@media only screen and (min-width: 540px) {
  .autocomplete-items {
    top: 67px;
    left: 80px;
    width: 250px;
  }
  .wonder {
    font-size: 13px;
  }
  .autocomplete-items {
    width: 260px;
    font-size: 25px;
    left: 45px;
  }
  #popup {
    margin-top: -1000px;
    width: 490px;
    margin-left: 25px;
  }
  .new {
    width: 95%;
    position: relative;
    border-radius: 5px;
    left: 3px;
  }
  .newi {
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
  }
  .one {
    position: relative;
    margin-bottom: 20px;
    right: 8.5px;
  }
  .onei {
    width: 100%;
    padding: 10px;
    right: 8.5px;
    border-radius: 5px;
  }
  .inp {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
  }
  .inpi {
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    right: 8.5px;
  }
  .delete {
    left: 224px;
    top: -35px;
    font-size: 30px;
  }
  .close {
    margin-left: 420px;
  }
  .add_form_field {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 15px 80px;
    margin: -40px;
    margin-bottom: 20px;
    margin-right: -50px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .form-btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10px 120px 10px 120px;
    width: 290px;
    margin-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer {
    margin: 170px 0px 10px 0px;
    font-size: 20px;
  }
  .main-text h1 {
    font-size: 35px;
  }
  .main-text h2 {
    font-size: 20px;
  }
  #divi {
    bottom: -50px;
    font-size: 25px;
    width: 550px;
  }
  .foot{
    margin: 150px 0px 10px 0px;
  }
}

@media only screen and (min-width: 600px) {
  #popup {
    width: 500px;
    margin-left: 50px;
    margin-top: -880px;
  }
  .newi {
    font-size: 15px;
    left: 4px;
  }
  input#start.inp {
    color: gray;
  }
  .autocomplete-items{
    left: 120px;
    top: 43px;
  }
 #divi{
bottom: 260px;
width: 600px;
 }
 nav{
   height: 130px;
   
 }
  .footer {
    margin: 340px 0px 10px 0px;
  }
  .contain111 {
    width: 500px;
    flex-direction: row;
}
}

@media only screen and (min-width: 768px) {
  #popup {
    width: 500px;
    margin-left: 140px;
    margin-top: -900px;
  }
  .nul {
    flex-direction: row;
    align-items: flex-start;
    
}
nav{
  height: 65px;
}
  .form-btn {
    padding: 10px 100px;
  }
  .delete {
    left: 230px;
    top: -35px;
    font-size: 30px;
  }
  .close {
    margin-left: 350px;
  }
  .search-bar {
    margin: 10px -15px 50px 10px;
    top: 10px;
    width: 400px;
    font-size: 25px;
  }
  .contain111 {
    width: 680px;
    flex-direction: row;
   
}
.wonder{
  font-size: 15px;
}
.wonder1{
  font-size: 15px;
}
  .btn {
    top: 12px;
    left: -30px;
  }
  .autocomplete-items {
    width: 400px;
    font-size: 25px;
    left: 135px;
  }
  #divi {
    font-size: 25px;
    left: 10px;
    bottom: 320px;
    width: 740px;
  }
  .main-text h1 {
    font-size: 40px;
  }
  .btna {
    font-size: 25px;
  }
  .footer {
    margin: 370px 0px 10px 0px;
    font-size: 20px;
  }
  .foot{
    margin:190px 0px 10px 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .img1 {
    margin-right: 30px;
    width: 70%;
    padding-top: 20px;
  }
  .main-text h2 {
    padding: 30px 10px;
    font-size: 40px;
  }
  .main-text h1 {
    left: 100px;
    font-size: 70px;
  }
  .main-text {
    padding-top: 50px;
    width: 100%;
  }
  .form-btn {
    padding: 10px 100px;
  }
  .delete {
    left: 215px;
    top: -30px;
    font-size: 30px;
  }
  .close {
    margin-left: 350px;
  }
  .search-bar {
    padding: 15px 10px 10px 15px;
    margin: 10px -15px 50px 10px;
    top: 10px;
    width: 700px;
    border-width: 3px;
    border-radius: 25px;
    border: 4px #DC602E solid;
    font-size: 35px;
  }
  .btn {
    position: relative;
    height: 30px;
    width: 30px;
    top: 13px;
    left: -35px;
  }
  .autocomplete-items {
    width: 700px;
    font-size: 45px;
    top: 60px;
    left: 0px;
  }
  #divi {
    bottom: 390px;
    font-size: 35px;
    width: 1000px;
  }
  .footer {
    margin: 360px 0px 10px 0px;
    font-size: 35px;
  }
  .search-bar::placeholder {
    text-transform: uppercase;
    color: gray;
    font-size: 30px;
  }
  #popup {
    padding: 7rem;
    margin-top: -1200px;
    transition: 0.5s;
    width: 800px;
    margin-left: 110px;
  }
  .new {
    position: relative;
    border-radius: 5px;
    right: 25px;
    font-size: 15px;
  }
  .newi {
    width: 101%;
    padding: 25px;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
    left: 7px;
  }
  .one {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    right: 20px;
  }
  .onei {
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    font-size: 20px;
  }
  .delete {
    position: relative;
    left: 315px;
    top: -75px;
    color: #000;
    cursor: pointer;
    font-size: 45px;
  }

  .inp {
    width: 100%;
    padding: 25px;
    text-transform: uppercase;
    font-size: 20px;
    color: gray;
    border-radius: 5px;
  }
  .inpi {
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    right: 25px;
  }
  .foote {
    font-size: 20px;
    bottom: 10px;
    padding-bottom: 50px;
}
  label{
    font-size: 20px;
  }
  .close {
    margin-left: 600px;
    font-size: 45px;
  }
  .head {
    font-size: 35px;
  }
  .add_form_field {
    padding: 10px 120px;
    margin: -40px;
    margin-bottom: 20px;
    margin-right: -43px;
    font-size: 25px;
  }
  .form-btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 25px;
    padding: 20px 120px;
    margin-left: -15px;
    text-transform: uppercase;
    cursor: pointer;
    width: 500px;
  }
  .about {
    text-align: right;
    padding: 2px;
    font-size: 30px;
  }
  .btna {
    background: #474448;
    background-size: inherit;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    width: 150px;
    height: 50px;
    border-width: 1.5px;
  }
  .wonder {
    font-size: 20px;
  }
  .wonder1{
    font-size: 20px;
  }
  .foot{
    margin: 500px 0px 10px 0px;
    font-size: 30px;
  }
}
@media   (height: 600px) {
  #divi{
    bottom: -400px;
  }
}
@media only screen and (min-width: 1240px) {
  .img1 {
    margin-right: 30px;
    width: 40%;
    padding-top: 5px;
  }
  .wonder {
    position: inherit;
    bottom: 30px;
  }
  .main-text h2 {
    padding: 20px 10px;
    font-size: 40px;
  }
  .main-text h1 {
    left: 100px;
    padding: -20px;
    font-size: 40px;
  }
  .main-text {
    padding-top: 50px;
    width: 100%;
  }
  .form-btn {
    padding: 10px 100px;
  }
  .delete {
    left: 310px;
    top: -40px;
    font-size: 30px;
  }
  .close {
    margin-left: 600px;
  }
  .search-bar {
    padding: 15px 10px 10px 15px;
    margin: 10px -15px 50px 10px;
    top: 10px;
    width: 700px;
    border-width: 3px;
    border-radius: 25px;
    border: 4px #DC602E solid;
    font-size: 35px;
  }
  .btn {
    position: relative;
    height: 30px;
    width: 30px;
    top: 13px;
    left: -35px;
  }
  .autocomplete-items {
    width: 700px;
    font-size: 45px;
    margin-bottom: 10px;
    top: 63px;
    left: 245px;
  }
  #divi {
    bottom: -300px;
    font-size: 30px;
    left: 190px;

  }
  .foot{
    font-size: 30px;
    margin: 0px;
      top: 700px;
    line-height: 50px;
    
   
  }
  .footer {
    margin:0px;
    bottom: -350px;
    font-size: 35px;
    z-index: 0;
  }
  .search-bar::placeholder {
    text-transform: uppercase;
    color: gray;
    font-size: 30px;
  }
  #popup {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 2rem 5rem;
    background-color: #fff;
    margin-top: -470px;
    position: relative;
    transition: 0.5s;
    visibility: hidden;
    width: 780px;
    margin-left: 270px;
  }
  .new {
    width: 582px;
    position: relative;
    border-radius: 5px;
    left: 20px;
  }
  .newi {
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    font-size: 20px;
  }
  .one {
    position: relative;
    margin-bottom: 20px;
    right: 8.5px;
  }
  .onei {
    width: 100%;
    padding: 10px;
    right: 8.5px;
    border-radius: 5px;
    font-size: 20px;
  }
  .inp::placeholder {
    font-size: 12px;
  }
  .onei::placeholder {
    font-size: 12px;
  }
  .newi::placeholder {
    font-size: 12px;
  }
  .inp {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
  }
  .inpi {
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    right: 8.5px;
    font-size: 20px;
  }
  .head {
    font-size: 25px;
  }
  .add_form_field {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 20px 220px;
    margin: -40px;
    margin-bottom: 20px;
    margin-left: -50px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .form-btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 20px 270px;
    margin-left: -5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .about {
    text-align: right;
    padding: 2px;
    font-size: 30px;
  }
  .btna {
    font-size: 20px;
    background: #474448;
    background-size: inherit;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 200px;
    height: 35px;
    border-width: 1.5px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    margin: 40px 0px 10px 0px;
  }
  .autocomplete-items {
    width: 700px;
    font-size: 45px;
    margin-bottom: 10px;
    top: 63px;
    left: 10px;
  }
  #divi {
    bottom: 60px;
    font-size: 30px;
    width: 890px;

  }
  .contain111{
    margin-top: 290px;
  }
  .home-wrapper{
    height: 600px;
  }
  .new{
    left: -1px;
  }
  .add_form_field{
    padding: 20px 120px;
  }
  .form-btn{
    padding: 20px 120px;
  }
}
@media (height: 598px){
  #divi{
    bottom: -100px;
  }
}
@media only screen and (min-width:1366px) {
  #popup {
    margin-left: 300px;
    margin-top: -920px;
  }
  .footer {
    margin: 10px 0px 10px 0px;
  }
  .home-wrapper{
    height: 900px;
  }
  .contain111{
    margin-top: 190px;
  }
  #divi{
    bottom: 90px;
    width: 1000px;
  }
}

@media only screen and (min-width:1440px) {
  #popup {
    margin-left: 335px;
  }
  #divi{
  bottom: 220px;
  }
.autocomplete-items{
  left: 140px;
}
  .home-wrapper{
    height: 850px;
  }
  .contain111{
    margin-top: 140px;
    width: 1000px;
  }
  
}

@media only screen and (min-width: 1536px) {
  #popup {
    margin-left: 390px;
    margin-top: -600px;
  }
  #divi{
    bottom: 200px;
    width: 1150px;
  }
  .footer{
    bottom: 0px;
  }
  .home-wrapper{
    height: 500px;
  }
}

@media only screen and (min-width: 1600px) {
  #popup {
    margin-left: 425px;
  }
  .footer{
    bottom: -100px;
  }
}

@media only screen and (min-width:1680px) {
  #popup {
    margin-left: 470px;
  }
  .footer {
    margin: 40px 0px 10px 0px;
  }
}

@media only screen and (min-width:1920px) {
  #popup {
    margin-left: 580px;
    
  }
  
  .footer {
    margin: 0px;
   bottom: 10px;
  }
  .foot{
    margin: 0px;
top: 700px;
  
  }
  #divi{
   
    bottom: 370px;
    left: 510px;
  
    width: 900px;
  }
  .home-wrapper{
    height: 550px;
  }
}

@media only screen and (min-width: 2560px) {

}


@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}


@keyframes slideInFromBottom {
  0% { 
    transform: translateY(20px); opacity: 0;
   }
  100%{ 
    transform: translateY(0); opacity: 1; 
  }
}
